{# Jinja2 version of generic/object_retrieve.html for performance comparison POC #}
{% extends "base.html" %}

{% block header %}
    <div class="row noprint">
        {# list_url now provided by context from validated_viewname functionality #}
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
            {% block breadcrumbs %}
                {% if list_url %}
                <li><a href="{{ url(list_url) }}">
                    {{ verbose_name_plural|bettertitle }}
                </a></li>
                {% endif %}
                {% block extra_breadcrumbs %}{% endblock extra_breadcrumbs %}
                <li>{{ object|hyperlinked_object }}</li>
            {% endblock breadcrumbs %}
            </ol>
        </div>
        {% if list_url %}
        <div class="col-sm-4 col-md-3">
            <form action="{{ url(list_url) }}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search {{ verbose_name_plural }}" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="mdi mdi-magnify" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        {% endif %}
    </div>

    <div class="pull-right noprint">
    {% block buttons %}
        {# Plugin buttons placeholder - would show plugin action buttons #}
        {# Custom links placeholder - would show external system links #}
        {# Job buttons placeholder - would show executable job buttons #}
        {% block extra_buttons %}{% endblock extra_buttons %}
        {# Edit/Delete/Clone buttons would be here #}
    {% endblock buttons %}
    </div>

    {% block masthead %}
        <h1>
            <span class="hover_copy">
                <span id="copy_title">{% block title %}{{ object.display|default(object) }}{% endblock %}</span>
                <button type="button" class="btn btn-inline btn-default hover_copy_button" data-clipboard-text="{{ object.display|default(object) }}">
                    <span class="mdi mdi-content-copy"></span>
                </button>
            </span>
        </h1>
    {% endblock masthead %}
    {# Created/Updated info would be here #}
    <div class="pull-right noprint">
        {# Custom links and job buttons section #}
    </div>

    <ul id="tabs" class="nav nav-tabs">
    {% block nav_tabs %}
        <li role="presentation"{% if active_tab == "main" or request.GET.tab == "main" %} class="active"{% endif %}>
            <a href="/jinja{{ object.get_absolute_url() }}#main" onclick="switch_tab(this.href)" aria-controls="main" role="tab" data-toggle="tab">
                {{ verbose_name|bettertitle }}
            </a>
        </li>
        <li role="presentation"{% if request.GET.tab == 'advanced' %} class="active"{% endif %}>
            <a href="/jinja{{ object.get_absolute_url() }}#advanced" onclick="switch_tab(this.href)" aria-controls="advanced" role="tab" data-toggle="tab">
                Advanced
            </a>
        </li>
        {% block extra_nav_tabs %}{% endblock extra_nav_tabs %}
    {% endblock nav_tabs %}
    </ul>
{% endblock header %}

{% block content %}
    <div class="tab-content">
        <div id="main" role="tabpanel" class="tab-pane {% if active_tab == "main" or request.GET.tab == "main" %}active{% else %}fade{% endif %}">
            <div class="row">
                <div class="col-md-6">
                    {% block content_left_page %}{% endblock content_left_page %}
                        {% set custom_fields = custom_fields_basic %}
                        {% set computed_fields = computed_fields_basic %}
                        {% include 'inc/custom_fields/panel.html' %}
                        {% set relationships_fields_override = relationships_basic %}
                    {% include 'inc/relationships/panel_override.html' %}
                    {% include 'extras/inc/tags_panel.html' %}
                    {# App Injected Content - Left #}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>App Injected Content - Left</strong>
                        </div>
                        <div class="panel-body">
                            Hello, world!
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    {% block content_right_page %}{% endblock content_right_page %}
                    {# App Injected Content - Right #}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>App Injected Content - Right</strong>
                        </div>
                        <div class="panel-body">
                            Hi, everybody!
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% block content_full_width_page %}{% endblock content_full_width_page %}
                    {# App Injected Content - Full Width #}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>App Injected Content - Full Width</strong>
                        </div>
                        <div class="panel-body">
                            Greetings, everyone!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="advanced" role="tabpanel" class="tab-pane {% if request.GET.tab == 'advanced' %}active{% else %}fade{% endif %}">
            <div class="row">
                <div class="col-md-6">
                    {# Include the actual Django advanced panel #}
                    {% include 'inc/object_details_advanced_panel.html' %}
                    {% block advanced_content_left_page %}{% endblock advanced_content_left_page %}
                </div>
                <div class="col-md-6">
                    {% block advanced_content_right_page %}{% endblock advanced_content_right_page %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% block advanced_content_full_width_page %}{% endblock advanced_content_full_width_page %}
                </div>
            </div>
        </div>
        {% block extra_tab_content %}{% endblock extra_tab_content %}
    </div>
{% endblock content %}

{% block javascript %}
<script>
    var clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function (e) {});
    clipboard.on('error', function (e) {});

    // Set initial history state
    if (location.pathname == "/jinja{{ object.get_absolute_url() }}"){
        var tab_id = "main";
        var tab_url = location.origin + location.pathname
        var query_string = location.search.replace("?", "")

        if(query_string.includes("tab")){
            query_params = query_string.split("&")
            tab_query_string = query_params.find(params => params.startsWith("tab"))
            tab_id = tab_query_string.split("=")[1]
            query_string_excluding_tab = query_params.filter(params => !params.startsWith("tab"))
            query_string = query_string_excluding_tab.join("&")
        }

        final_query_string = query_string ? "&" + query_string : ""
        window.history.replaceState({id: tab_id}, document.title, `${tab_url}?tab=${tab_id}${final_query_string}`);
        $(`#tabs a[href="/jinja{{ object.get_absolute_url() }}#${tab_id}"]`).tab('show');
    }

    function switch_tab(tab_href, reload=false) {
        let [tab_url, tab_id] = tab_href.split("#")
        if (location.pathname != "/jinja{{ object.get_absolute_url() }}")
            window.location.href = `${tab_url}?tab=${tab_id}`;
        else if (!window.history.state || window.history.state["id"] != tab_id){
            window.history.pushState({id: tab_id}, document.title, `${tab_url}?tab=${tab_id}`);
        }
        // If set, reload the page after asserting state.
        reload && window.location.reload();
    }

    window.onpopstate = function(event) {
        if(event)
            $(`#tabs a[href="/jinja{{ object.get_absolute_url() }}#${event.state.id}"]`).tab('show');
    }
    
    // Toggle accordion buttons
    $(".accordion-toggle").click(function () {
        $(this).toggleClass("mdi-chevron-down mdi-chevron-right");
    });
    
    // Collapse/expand all functionality
    $('.accordion-toggle-all').click(function () {
        if ($(this).data("lastState") === null || $(this).data("lastState") === 1) {
            $($(this).data("target") + ' .collapse').collapse('show');
            $(this).data("lastState", 0);
            $($(this).data("target") + " .accordion-toggle").addClass("mdi-chevron-down").removeClass("mdi-chevron-right");
            $(this).text("Collapse All");
        } else {
            $($(this).data("target") + ' [class^=collapseme]').removeData('bs.collapse').collapse({parent: false, toggle: false})
            .collapse('hide')
            .removeData('bs.collapse')
            .collapse({parent: $(this).data("target"), toggle: false});
            $(this).data("lastState", 1);
            $($(this).data("target") + " .accordion-toggle").addClass("mdi-chevron-right").removeClass("mdi-chevron-down");
            $(this).text("Expand All");
        }
    });
</script>
{% endblock javascript %}
